.datepicker {
    border: none;
    height: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.react-datepicker-wrapper {
    width: 100%;
    display: block;
}

.react-datepicker__input-container {
    width: 100%;
    display: block;
}

.react-datepicker-popper {
    z-index: 150;
}
